html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hms-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.hms-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 116, 139, 0.35);
  border-radius: 999px;
}
.hms-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 116, 139, 0.55);
}
